/*-------sticky footer-------*/

html {
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #FCED22;
  width: 100%;
}
.content {
  flex: 1;
}

/*-----bootstrap over-rides----*/
.row{
	width: 100%;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

/*-------well styles---------*/
.left-well{
	background-color: #E753A1;
	/*min-width: 500px;*/
	border-style: solid;
	border-color: black;
	border-width: 2px;
	text-align: center;
	height: 100%;
	overflow-y: scroll;
}

.right-well{
	background-color: #31539B;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	/*min-width: 500px;*/
	text-align: center;
	height: 100%;
	overflow-y: scroll;

}

.bottom-well{
	background-color: #F22A34;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	/*min-width: 450px;*/
	text-align: center;
	height: 100%;
	overflow-y: scroll;

}

.left-well p, .right-well p {
	margin-bottom: 60px;
}


/*-------text styles--------*/
h1{
	text-align: center;
}

h2{
	color: #000000;
	padding: 0px 0px 20px 0px;
}

#burgerInput{
	color: #000000;
}

/*------other divs--------*/
.order, .menu{
	display: flex;
	justify-content: center;
	align-content: center;

}

#offOrder, #offMenu{
	margin-top: -10px;
	margin-left: 20px;
}

body{
	background-color: #FCED22;
	color: #FFFFFF;
}

.burgerContent {
	width: 100%;
	height: 500px;
	overflow-y: scroll;
}
/*-----banner styles-----*/
.banner{
	width: 100%;
	height: 350px;
	margin-bottom: 0px;
	display: flex;
	justify-content: center;
	
}
.banner img{
	width: 90%;
	height: 350px;
}


/*------footer style---*/
footer{
	text-align: center;
	color: #000000;
	margin-top: 10px;
}



/*=====================================================
                    Media Queries            
=====================================================*/

@media only screen and (min-width:768px) and (max-width : 1200px) {

	.banner img{
		width: 100%;
		/*height: 100px;*/
	}

	.burgerContent {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		flex-direction: column;
		font-size: 200%;
	}


	.left-well{
		display: flex;
		flex-direction: column;
		justify-content: center;
		justify-content: space-around;
		align-items: center;
		order: 3 !important;
		width: 100%

	}

	.right-well{
		display: flex;
		flex-direction: column;
		justify-content: center;
		justify-content: space-around;
		align-items: center;
		order: 2 !important;
		width: 100%

	}
	
	.bottom-well{
		display: flex;
		flex-direction: column;
		justify-content: center;
		justify-content: space-around;
		align-items: center;
		order: 1 !important;
		width: 100%

	}

	.bottom-well .row{
		widows: 100%;
	}
	.bottom-well .form-group{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	#burgerInput{
		margin: 0px 10px 0px 0px;
	}

	h2{
		font-size: 150%;
	}

	.form-group{
		padding: 0px 0px 20px 0px;
	}
}

@media only screen and (min-width:400px) and (max-width : 480px) {
	.banner img{
		width: 100%;
		/*height: 100px;*/
	}

	.burgerContent {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		flex-direction: column;
		font-size: 150%;
	}


	.left-well{
		display: flex;
		flex-direction: column;
		justify-content: center;
		justify-content: space-around;
		align-items: center;
		order: 3 !important;

	}

	.right-well{
		display: flex;
		flex-direction: column;
		justify-content: center;
		justify-content: space-around;
		align-items: center;
		order: 2 !important;

	}
	
	.bottom-well{
		display: flex;
		flex-direction: column;
		justify-content: center;
		justify-content: space-around;
		align-items: center;
		order: 1 !important;

	}

	.bottom-well .row{
		widows: 100%;
	}
	.bottom-well .form-group{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	#burgerInput{
		margin: 0px 10px 0px 0px;
	}

	h2{
		font-size: 150%;
	}

	.form-group{
		padding: 0px 0px 20px 0px;
	}

}

@media only screen and (min-width: 321px) and (max-width : 375px) {

	.banner {
		width: 100%;
		/*height: 100px;*/
	}

	.burgerContent {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		flex-direction: column;
		font-size: 150%;
	}


	.left-well{
		display: flex;
		flex-direction: column;
		justify-content: center;
		justify-content: space-around;
		align-items: center;
		order: 3 !important;

	}

	.right-well{
		display: flex;
		flex-direction: column;
		justify-content: center;
		justify-content: space-around;
		align-items: center;
		order: 2 !important;

	}
	
	.bottom-well{
		display: flex;
		flex-direction: column;
		justify-content: center;
		justify-content: space-around;
		align-items: center;
		order: 1 !important;
	}
	
	.bottom-well .row{
		widows: 100%;
	}
	.bottom-well .form-group{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	#burgerInput{
		margin: 0px 10px 0px 0px;
	}
	
	h2{
		font-size: 150%;
	}

	.form-group{
		padding: 0px 0px 20px 0px;
	}
}


@media only screen and (max-width : 320px) {
	.banner img{
		width: 100%;
		/*height: 100px;*/
	}

	.burgerContent {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		flex-direction: column;
		font-size: 100%;
	}


	.left-well{
		display: flex;
		flex-direction: column;
		justify-content: center;
		justify-content: space-around;
		align-items: center;
		order: 3 !important;

	}

	.right-well{
		display: flex;
		flex-direction: column;
		justify-content: center;
		justify-content: space-around;
		align-items: center;
		order: 2 !important;

	}
	
	.bottom-well{
		display: flex;
		flex-direction: column;
		justify-content: center;
		justify-content: space-around;
		align-items: center;
		order: 1 !important;

	}

	.bottom-well .row{
		widows: 100%;
	}
	.bottom-well .form-group{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	#burgerInput{
		margin: 0px 10px 0px 0px;
	}

	h2{
		font-size: 150%;
	}

	.form-group{
		padding: 0px 0px 20px 0px;
	}
}
